---
import Header from "../../components/Header";
import Footer from "../../components/Footer";
import { YbcProduct } from "../../app/YbcApp";

const { slug } = Astro.params;

console.log("slug", slug);
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Yamaha Bahana Ciamis - {slug}</title>
  </head>
  <body>
    <Header client:only="react" />
    <YbcProduct client:only="react" slug={slug} />
    <Footer client:only="react" />
  </body>
</html>
