---
import Layout from "../layouts/Layout.astro";
import HeroSlider from "../components/HeroSlider";
import FavoriteSlider from "../components/FavoriteSlider";
import Welcome from "../components/Welcome";
import ProductFilter from "../components/ProductFilter";
import ArticleHome from "../components/ArticleHome";
---

<Layout title="Yamaha Bahana Ciamis">
  <main>
    <HeroSlider client:only="react" />
    <FavoriteSlider client:only="react" />
    <Welcome />
    <ProductFilter />
    <ArticleHome client:only="react" />
  </main>
</Layout>
